#root {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: rgb(255,109,197);
  background: linear-gradient(180deg, rgba(255,109,197,1) 0%, rgba(252, 61, 176, 0.65) 77%);
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100vw;
  height: 60px;
  background: #FC0FAB;
}

header h1 {
  margin: 0;
}

nav {
  width: 100vw;
  height: 60px;
  background: #FC0FAB;
  position: fixed;
  bottom: 0;
}

nav ul {
  padding: 0;
  list-style: none;
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

nav ul li button {
  border-radius: 15px;
  border: none;
  background: #F39EC7;
  color: #3F0071;
  font-weight: 600;
  padding: 5px 15px;
}




main {
  width: calc(100vw - 40px);
  height: calc(100vh - 120px);
  margin: 0 auto;
}






.tablero {
  width: 100%;
  height: 55vh;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tablero li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background: #FF56A7;
  color: black;
}

.tablero li:nth-child(2n) {
  background-color: #F39EC7; /* Color de fondo para los elementos pares */
}








.form-formik label{
 color: black;
}

.error {
  color: red;
}












.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.home a, .home button {
  color: #3F0071;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background: #F39EC7;
  min-width: 200px;
  height: fit-content;
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
}

.home a {
  margin-top: 25vh;
  padding: 15px 30px;
}

.home button {
  margin-top: 50px;
  padding: 15px 60px;
}

.home form input {
  border: none;
  height: 30px;
  margin-top: 25px;
  background: #F39EC7;
  color: #3F0071;
  font-weight: 700;
  font-size: 18px;
  max-width: 100px;
}

.home form button {
  background: #3F0071;
  color: #F39EC7;
  margin: 15px auto;
  display: block;
}









/* Add transition in open modal*/
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}
