#root {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: rgb(255, 109, 197);
  background: linear-gradient(
    180deg,
    rgba(255, 109, 197, 1) 0%,
    rgba(252, 61, 176, 0.65) 77%
  );
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100vw;
  height: 60px;
  background: #fc0fab;
}

header h1 {
  margin: 0;
}

nav {
  width: 100vw;
  height: 60px;
  background: #fc0fab;
  position: fixed;
  bottom: 0;
}

nav ul {
  padding: 0;
  list-style: none;
  width: calc(100vw - 40px);
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  align-items: center;
}

nav ul li button,
nav ul li a {
  border-radius: 15px;
  border: none;
  background: #f39ec7;
  color: #3f0071;
  font-weight: 600;
  padding: 5px 15px;
  text-decoration: none;
}

main {
  width: calc(100vw - 40px);
  height: calc(100vh - 120px);
  margin: 0 auto;
}

.tablero {
  width: 100%;
  min-height: 55vh;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#tablero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablero li {
  width: calc(10% - 4px);
  aspect-ratio: 1/0.1;
  border-radius: 50%;
  border: 1px solid black;
  background: #ff56a7;
  color: black;
  font-size: 20px;
}

@media (min-width: 600px) {
  .tablero li {
    aspect-ratio: 1/0.8;
    font-size: 28px;
    margin: 1px;
  }
}

.tablero li:nth-child(2n) {
  background-color: #f39ec7; /* Color de fondo para los elementos pares */
}

.form-formik label {
  color: black;
}

.error {
  color: red;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.home a,
.home button {
  color: #3f0071;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background: #f39ec7;
  min-width: 200px;
  height: fit-content;
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
}

.home a {
  margin-top: 25vh;
  padding: 15px 30px;
}

.home button {
  margin-top: 50px;
  padding: 15px 60px;
}

.home form input {
  border: none;
  height: 30px;
  margin-top: 25px;
  background: #f39ec7;
  color: #3f0071;
  font-weight: 700;
  font-size: 18px;
  max-width: 100px;
}

.home form button {
  background: #3f0071;
  color: #f39ec7;
  margin: 15px auto;
  display: block;
}

/* Add transition in open modal*/
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.new-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-number p {
  color: black;
  margin: 0 auto;
}

.new-number div {
  margin-bottom: 15px;
}

.new-number button[type='submit'],
.btn-create-rifa {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff;
  background: #6200ee;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  :hover {
    background: rgb(98, 0, 238);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}

.btn-close-modal {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 15px;
  border-radius: 4px;
  color: #6200ee;
  background: transparent;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: 1px solid #6200ee;
  text-align: center;
  transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
  :hover {
    background: #f4f4f4;
  }
}

.list {
  min-height: calc(100vh);
  width: calc(100vw - 40px);
  padding: 0 20px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: calc(100vw - 40px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #fc0fab;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f39ec7;
  text-align: left;
}

.styled-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #fc0fab;
}

.back-route {
  background: #fc0fab;
  border-radius: 10px;
  padding: 3px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  position: absolute;
  left: 20px;
  top: 10px;
  color: #3f0071;
  border: 1px solid black;
}

.create-rifa {
  height: 100vh;
  width: calc(100vw - 40px);
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-rifa h1 {
  position: absolute;
  top: 20px;
}

.new-rifa {
  text-align: left;
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.new-rifa .div-label {
  width: 55%;
  margin: 0 auto 20px auto;
}

.new-rifa .div-label label {
  display: block;
}
.new-rifa .div-label select {
  width: 100%;
}

.react-datepicker-wrapper,
.react-datepicker-wrapper div {
  margin: 0 auto 0 auto !important;
  padding: 0;
}
